# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.env

# Database
*.db

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
